*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}

.btn{
  border: none;
  background: blue;
  color: white;
  margin: 1rem 1rem;
  padding: 0.6rem 3rem;
  cursor: pointer;
}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  height: 10rem;
  justify-content: space-between;
}

.input {
  padding: 0.5rem 0.1rem;
}
