.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin-left: auto;
    margin-right: auto;
  }


.logo-container{
    padding-top: 2rem;
    padding-left: 2rem;
}


.buttons{
    display: flex;
    margin: 2rem;
    padding: 2rem;
}


.buttons .leftbtn{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.buttons .leftbtn .Specials{
    display: flex;
}

.buttons .leftbtn .Specials div{
   margin: 0.5rem;
}

.buttons .leftbtn .numbers{
    display: flex;
    flex-wrap: wrap;
}
.buttons .leftbtn .numbers div{
   margin: 0.5rem;
}
.buttons .leftbtn .numbers div:nth-child(10){
    width: 57%;
}


.buttons .rightbtn{
    width: 25%;
}
.buttons .rightbtn .Operators div{
    display: flex;
    margin: 0.9rem;

}

.Specials{

}

.numbers{

}
.Operators{

}
.btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}

.btn-operators{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}
.btn-special{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}