.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin-left: auto;
    margin-right: auto;
  }


.logo-container{
    padding-top: 2rem;
    padding-left: 2rem;
}

.allBtn{
    display: flex;
}
.left-btn{
    width: 75%;
    display: flex;
}
.BtnContainer{
    display: flex;
    width: 75%;
    justify-items: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.BtnContainer div{
  margin: 0.8rem;
}

.BtnContainer div:nth-child(10){
    width: 10rem;
    border-radius: 40%;
  }

.btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
}