.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin-left: auto;
    margin-right: auto;
  }


.logo-container{
    padding-top: 2rem;
    padding-left: 2rem;
}


.buttons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "Specials Specials Specials Operators"
    "Number Number Number Operators"
    "Number Number Number Operators"
    "Number Number Number Operators"
    "Number Number Number Operators"
}

.Specials{
    grid-area: Specials;
}

.numbers{
    grid-area: Number;
}
.Operators{
    grid-area: Operators;
}
.btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}

.btn-operators{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}
.btn-special{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}